/* Add your styles here! */
h1 {
color: darkgreen;
font-size: 100%;
text-align: center;
}

h2 {
color: darkolivegreen;
font-size: 90%;
text-align: left;
margin-top: 3em;
}

p {
color: black;
font-size: 80%;
text-align: left;
}

li {
color: black;
font-size: 80%;
text-align: left;
}

.botton {
color: rgb(255, 255, 255);
background-color: #dc3522;
border-radius: 8%;
width: 100px;
height: 40px;
text-align: center;
}