/* Add your styles here! */
h1 {
color: #dc3522;
font-size: 100%;
text-align: center;
}

h2 {
color: #dc3522;
font-size: 90%;
text-align: left;
margin-top: 3em;
}

p {
color: black;
font-size: 80%;
text-align: left;
}

a {
    color: red;
    font-style: normal;    
}
a:hover {
    font-style: italic;    
}

li {
color: black;
font-size: 80%;
text-align: left;
}

hr {
    width: 80%;
    size: 1; 
    color: #cccccc;
    text-align: center;
}

.botton {
color: rgb(255, 255, 255);
font-style: oblique;
background-color: #dc3522;
border-radius: 8%;
width: 40px;
height: 40px;
text-align: center;
margin-top: 3em;
}
.botton a {
    color: white;
}

tei-corr {
    font-weight: 600;
}
tei-name {
    font-style: italic;
    color: #dc3522;
}

tei-note {
    display: block;
}
